@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.contactos {
    position: absolute;
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
    padding: 19px 35px;
}

.menu-izquierda{
    margin-left: 35px;
    font-weight: 500;
    padding-left: 35px;
}

.menu-izquierda a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 5px 0 5px;
}

.menu-izquierda a:hover{
    color: rgb(0, 194, 229);
}

.barra {
    font-size: 22px;
    font-weight: 100;
    vertical-align: middle;
    color: white;
    
}
/* Redes sociales con font awesome */
.redes-sociales{
    margin-right: 35px;
    padding-right: 35px;
}
.redes-sociales a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    padding: 0 12px 0 12px;;

}

.redes-sociales a:hover{
    color: rgb(0, 194, 229);
}

.icono-facebook::before {
    content: "\f082";
    font-family: "Font Awesome 6 Brands";
    font-weight: 900;
}

.icono-twitter::before {
    content: "\f099";
    font-family: "Font Awesome 6 Brands";
    font-weight: 900;
}

.icono-google::before {
    content: "\f2b3";
    font-family: "Font Awesome 6 Brands";
    font-weight: 900;
}

.icono-linkedin::before {
    content: "\f08c";
    font-family: "Font Awesome 6 Brands";
    font-weight: 900;
}

/* ------HERO------ */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-image: url(../img/fondo\ header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px;
    height: 70vh;
    margin-bottom: 35px;
}

.menu {
    text-align: right;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px;
}

.menu a:hover{
    color: rgb(0, 194, 229);
}

.buscador{
    padding: 0 15px;
    color: white;
}

.buscador:hover{
    color: rgb(0, 194, 229);
}

.buscador::before  {
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.titulo {
    font-size: 80px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: row;
    padding: 35px;
    width: 100%;
    max-width: 1500px;
    margin-inline: auto;
}

/* 
 ">" Combinador de hijo directo que sólo afecta a los hijos inmediatos, no a nietos.
 "*" Selector universal para afectar a cualquier etiqueta. 
 */
.contenedor > *{	
    flex:1 1 0;      
    min-width:0;     
}

.mision-filosofia {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px;
}

.mision-filosofia h3 {
    padding: 15px 0;
    color: rgb(15, 33, 49);
    text-align: left;
}

.mision-filosofia p {
    color: rgb(97, 97, 97);
}

.imagen-reunion {
    width: 100%;
    object-fit: cover;
}

.grupos {
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 1080px;
    margin-inline: auto;
    gap: 35px 230px;
    margin-bottom: 35px;
}

.grupos h2 {
    color: rgb(15, 33, 49);
    padding: 10px;
    font-weight: 300;
}

/* Dentro del h2 destaco una parte poniendola "en negrita" (no hay conflicto ya que el orden de prioridad es por especificidad, por lo que ".grupos h2 span" tiene más peso que ".grupos h2") */
.grupos h2 span {
    font-weight: 700;
}

.grupos p {
    color: rgb(97, 97, 97);
    font-weight: 400;
}

.imagenes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

.imagenes img {
    filter: grayscale(100%);
    min-width:0;
}

.imagenes img:hover {
    filter: grayscale(0%)
}

.vender-proyecto {
    background-image: url(../img/fondo\ footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 43vh;
    align-items: center;
}

.vender-proyecto h2 {
    font-weight: 700;
    font-size: 50px;
    color: rgb(15, 33, 49);
    max-width: 500px;
}

.vender-proyecto p {
    color: rgb(97, 97, 97);
    font-weight: 400;
    font-size: 18;
}

.vender-proyecto button {
    font-weight: 600;
    font-size: 20px 25px;
    color: white;
    background-color: rgb(0, 194, 229);
    border: none;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.vender-proyecto button:hover {
    background-color: rgb(15, 33, 49);
    color: rgb(0, 194, 229);
}