@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    background-image: ;
}

.contactos {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
    margin: 19px 35px;
}

.menu-izquierda{
    margin-left: 35px;
    font-weight: 500;
    padding-left: 35px;
}

.menu-izquierda a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 5px 0 5px;
}

.menu-izquierda a:hover{
    color: rgb(0, 194, 229);
}

.barra {
    font-size: 25px;
    font-weight: 100;
    vertical-align: middle;
    color: white;
    
}
/* Redes sociales con font awesome */
.redes-sociales{
    margin-right: 35px;
    padding-right: 35px;
}
.redes-sociales a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    padding: 0 12px 0 12px;;

}

.redes-sociales a:hover{
    color: rgb(0, 194, 229);
}

.icono-facebook::before {
    content: "\f082";
    font-family: "Font Awesome 6 Brands";
    font-weight: 900;
}

.icono-twitter::before {
    content: "\f099";
    font-family: "Font Awesome 6 Brands";
    font-weight: 900;
}

.icono-google::before {
    content: "\f2b3";
    font-family: "Font Awesome 6 Brands";
    font-weight: 900;
}

.icono-linkedin::before {
    content: "\f08c";
    font-family: "Font Awesome 6 Brands";
    font-weight: 900;
}

/* ------HERO------ */

.hero{
    background-color: black;
}

.menu {
    text-align: right;
    padding: 35px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px;
}

.menu a:hover{
    color: rgb(0, 194, 229);
}

.buscador{
    padding: 0 15px;
    color: white;
}

.buscador:hover{
    color: rgb(0, 194, 229);
}

.buscador::before  {
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

h1 {
    font-size: 88px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 35px;
    margin: 35px;
}